# https://unix.stackexchange.com/questions/39226/how-to-run-a-script-with-systemd-right-before-shutdown
# https://serverfault.com/questions/519029/systemd-to-wait-for-command-to-complete-before-restart-shutdown-or-killing-other
# https://ask.fedoraproject.org/en/question/54454/how-to-write-slow-blocking-systemd-shutdown-service/
[Unit]
Description=backup all things
Before=sleep.target shutdown.target reboot.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/bash %h/sync/system-data/backup.sh -f
# https://unix.stackexchange.com/a/276785
TimeoutSec=5min
TimeoutStopSec=5min
TimeoutStartSec=5min

[Install]
WantedBy=sleep.target shutdown.target reboot.target
