[Unit]
Description=Download google docs
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash %h/sync/main/Documents/googledocs/google_download_wget.sh
# https://unix.stackexchange.com/a/276785
TimeoutSec=5min
TimeoutStopSec=5min
TimeoutStartSec=5min
