[Unit]
Description=Set mouse acceleration

[Service]
ExecStart=/bin/bash %h/bin/mouse-acceleration-disable_rival310_libinput.sh
Type=oneshot

[Install]
WantedBy=graphical.target
