[Unit]
Description=Albert omnilauncher

[Service]
Type=oneshot
ExecStart=/usr/bin/xrandr --output HDMI-0 --auto --primary

[Install]
WantedBy=graphical.target
